*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
--bottone: #0061FF;
--sfondojumbo: #B4D0E7;

}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.align{
    justify-items: center;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;

}

.right{
    align-items: center;
    justify-content: flex-end;
}

/* Generali */

/* --start navigatore */

header{
    height: 10vh;
}

nav{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top:0;
    left: 0px;
}

.logo > img{
    height: 15px;
    margin: 10px;
}

.pagina{
    padding: 20px 15px ;
    font-size: 8px;
    text-decoration: none;
}

.pagina > a{
    color: black;
    text-decoration: none;
}

.button_nav{
    background-color:var(--bottone);
    padding: 3px 6px;
    color: white;
    font-size: 8px;
    margin-right: 10px;
    border: none;
}

.button_nav > i{
    padding-left: 5px;
}

/* --end navigatore */

/* Main sezione jumbo */

.cont_jumbo{
    background-color:var(--sfondojumbo);
    height: 420px;
    position: relative;
}

.jumbo{
    height: 100%;
    width: 60%;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left:50%;
    translate: -50% -50%;
    
}

.container{
    width: 50%;
    max-width: 1200px;
    margin: auto;
}

.title{
    padding-top: 60px;
    padding-bottom: 35px;
}

h1{
    font-size: 2.5rem;
}

.testo_index{
    font-size: 8px;
    position: relative;
}

.button_main{
    background-color:var(--bottone);
    padding: 3px 6px;
    color: white;
    font-size: 8px;
    margin: 15px 0px;
    border: none;
}

.jumbo > .fa-arrow-down-long{
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 25px;

}

img.img_jumbo {
    width: 450px;
    max-width: 100%;
}

/* sezione piani */

.sezione_piani{
    padding-top: 50px;
}

.title_sez{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.fatturazione{
    padding-top: 20px;
    padding-bottom: 20px;

}

.container_checkbox {
    display: block;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    font-size: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark {
    position: absolute;
    top: 0px;
    left: 3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background-color: #eee;
  }

.container_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }

.container_checkbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }


.border{
    border: 1px solid gainsboro;
}

.altezza{
    height: 450px;
}

.title_plan{
    border-bottom: 1px solid rgba(220, 220, 220, 0.497);
    padding: 8px 0;
    font-size: 6px;
}

.tplan{
    padding-left: 2px;
    font-size: 6px;

}

.plan{
    padding: 20px;
    
}

h3{
    font-size: 12px;
    padding-bottom: 12px;
}

h4{
    font-size: 10px;
    padding-bottom: 10px;
}

.price{
    font-weight: bold;
}

.month{
    font-size: 6px;
}

ul{
    list-style-type: none;
    padding-top:15px

}

li{
    font-size: 6px;
    padding: 7px 0px;
}

li > i{
    font-size: 6px;
}

li > h4{
    padding: 0px;
}

.li_title{
    list-style: none;
}
.point{
    list-style-image: url(./img/check-solid.svg);
}

li::marker{
    font-size: 10px;
}


.button_plan{
    color: white;
    font-size: 8px;
    padding: 5px 10px;
    background-color: var(--bottone);
    text-align: center;
    margin: 20px 0;
    border: none;
}

.alternative{
    font-size: 6px;
}

.linebrake{
    height: 1px;
    background: gainsboro;
    width: 20%;
    margin-top: 20px;
}

.info{
    padding-top: 20px;
    font-size: 8px;
    font-weight: 300;
    width: 60%;
}

.plan_full{
    padding: 20px;
    position: relative;
}

.button_abs{
    position: absolute;
    top: 0;
    right: 10px;
}

/* Sezione partner */

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.blocco_img{
    float: left;
    height: 290px;
}

.img_partner{
    max-width: 100%;
}

.blocco_testo{
    padding: 20px;
}


/* Colonne */
.col_6{
    width: calc((100% / 12) *6);
}

.col_3{
    width: calc((100% / 12) *3);
}

.col_9{
    width: calc((100% / 12) *9);
}

.col_4{
    width: calc((100% / 12) *4 - 10px);
    
}

.row_plan{
    column-gap: 15px;
}

.row_full{
margin-top: 15px;

}