* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bottone: #0061FF;
    --sfondojumbo: #B4D0E7;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align {
    justify-items: center;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;

}

.right {
    align-items: center;
    justify-content: flex-end;
}

/* Generali */

/* --start navigatore */

header {
    height: 10vh;
}

nav {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0px;
}

.logo1>img {
    filter: none;
    height: 15px;
    margin: 10px;
}

.pagina {
    padding: 20px 15px;
    font-size: 16px;
    text-decoration: none;
}

.pagina>a {
    color: black;
    text-decoration: none;
}

.button_nav {
    background-color: var(--bottone);
    padding: 3px 6px;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

.button_nav>i {
    padding-left: 5px;
}

/* --end navigatore */

/* Main sezione jumbo */

.cont_jumbo {
    background-color: var(--sfondojumbo);
    height: 75vh;
    position: relative;
}

.jumbo {
    height: 100%;
    width: 60%;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}

.container {
    width: 50%;
    max-width: 1200px;
    margin: auto;
}

.title {
    padding-top: 60px;
    padding-bottom: 35px;
}

h1 {
    font-size: 4rem;
}

.testo_index {
    font-size: 0.75rem;
    position: relative;
}

.testo_p{
    margin-bottom: 15px;
}

.sottotesto_p{
    margin-top: 15px;
}

.button_main {
    background-color: var(--bottone);
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    border: none;
    text-decoration: none;
}

.jumbo>.fa-arrow-down-long {
    position: absolute;
    left: 0;
    bottom: 1.5rem;
    font-size: 2rem;

}

img.img_jumbo {
    width: 600px;
    max-width: 100%;
}

/* sezione piani */

.sezione_piani {
    padding-top: 50px;
}

.title_sez {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.fatturazione {
    padding-top: 20px;
    padding-bottom: 20px;

}

.container_checkbox {
    display: block;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    background-color: #eee;
}

.container_checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container_checkbox input:checked~.checkmark:after {
    display: block;
}

.container_checkbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}


.border {
    border: 1px solid gainsboro;
}



.title_plan {
    border-bottom: 1px solid rgba(220, 220, 220, 0.497);
    padding: 8px 0;
    font-size: 0.75rem;
}

.tplan {
    padding-left: 2px;
    font-size: 0.75rem;

}

.plan {
    padding: 20px;

}

h3 {
    font-size: 1.5rem;
    padding-bottom: 12px;
}

h4 {
    font-size: 1rem;
    padding-bottom: 10px;
}

.price {
    font-weight: bold;
}

.month {
    font-size: 0.75rem;
}

ul {
    list-style-type: none;
    padding-top: 15px
}

li {
    font-size: 0.75rem;
    padding: 7px 0px;
}

li>i {
    font-size: 6px;
}

li>h4 {
    padding: 0px;
}

.li_title {
    list-style: none;
}

.point::before{
    content: "";
    height: 1px;
    background-color: gainsboro;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.point {
    list-style-image: url(./img/check-solid.svg);
}

li::marker {
    font-size: 0.75rem;
}

.blocco_button_plan{
    margin: 25px 0;
}

.button_plan {
    color: white;
    font-size: 0.75rem;
    padding: 5px 10px;
    background-color: var(--bottone);
    text-align: center;
    margin: 20px 0;
    border: none;
    text-decoration: none;
}

.alternative {
    font-size: 0.75rem;
}

.linebrake {
    height: 1px;
    background: gainsboro;
    width: 20%;
    margin-top: 20px;
}

.info {
    padding-top: 20px;
    font-size: 0.75rem;
    font-weight: 300;
    width: 60%;
}

.plan_full {
    padding: 20px;
    position: relative;
}

.button_abs {
    position: absolute;
    top: 20px;
    right: 10px;
    
}

/* Sezione partner */

.partner {
    margin: 85px 0px;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.blocco_img {
    float: left;
    height: 290px;
}

.img_partner {
    max-width: 100%;
    width: 60%;
    float: left;
    margin-right: 30px;
}

.blocco_testo {
    padding-right: 30px;
    padding-top: 30px;
}

.blocco_testo>p {
    font-size: 0.75rem;
    padding-bottom: 10px;
}

.button_partner {
    font-size: 0.75rem;
    background-color: white;
    padding: 3px;
    border: 1px solid gainsboro;
    text-decoration: none;
}

/* Colonne card */
.sez_operazioni {
    padding-bottom: 120px;
}

.operazioni>p {
    font-size: 0.75rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 40px;
}

.card>.img_operazioni {
    height: 130px;
    margin-top: 30px;
}

/* Scopri */
.scopri>a {
    font-size: 0.75rem;
}

.scopri {
    padding-bottom: 80px;
}

/* Sezione Sponsor */
.quadrato {
    height: 500px;
}

.box {
    flex-basis: 50%;
}

.logo {
    height: 75px;
    max-width: 100%;
    filter: invert(100%);
}


.padding20{
    padding: 20px;
}

.main_sponsor{
    padding: 50px;
}

.main_sponsor > *{
    padding-bottom: 50px;
}

.main_sponsor > p{
    font-size: 0.75rem;
}

.cont_logo > .logo{
    height: 100px;
    max-width: 100%;
    align-self: flex-start;
    filter: none;
}

.main_sponsor > .separatore{
    margin: 0px;
    width: 15%;
}

.cont_logo::after {
    content: "";
    height: 2px;
    background-color: gainsboro;
    width: 15%;
    margin-top: 50px;
    display: block;
}



.flex_sponsor {
    display: flex;
    flex-wrap: wrap;
}

.uno {
    background-color: var(--box1);
}

.due {
    background-color: var(--box2);
}

.tre {
    background-color: var(--box3);
}

.quattro {
    background-color: var(--box4);
}

.cinque {
    background-color: var(--box5);
}

.sei {
    background-color: var(--box6);
}

.sette {
    background-color: var(--box7);
}

.otto {
    background-color: var(--box8);
}



:root {
    --box3: #0093CE;
    --box7: #0D2481;
    --box2: #61082B;
    --box1: #A2D39B;
    --box6: #B4D0E7;
    --box5: #D5001F;
    --box4: #FF1C1C;
    --box8: #FFD830;

}


/* Sezione Prova */
.prova {
    height: 204px;
    background-color: var(--sfondojumbo);
}


.elementi > h2 {
    padding: 0;

}

.space_bet{
    justify-content: space-between;
    align-items: center;
}
.button_prova{
    font-size: 0.75rem;
    background-color: white;
    padding: 5px 30px;
    border: 1px solid gainsboro;
    text-decoration: none;

}

.faq_question:hover p{
    display: block;
}
.faq_question:hover .freccia_giu{
    transform: rotate(180deg);
}

.faq_question_title > p{
    display: none;
}
/* Sezione FAQ */

.faq{
    padding: 90px 0;
}

.top{
border-top: 1px solid black ;
}

.faq_question{
    border-bottom: 1px solid black;
    padding: 25px 0;
}

.faq_question > p{
    font-size: 8px;
}



/* Colonne */
.col_6 {
    width: calc((100% / 12) *6);
}

.col_3 {
    width: calc((100% / 12) *3);
}

.col_9 {
    width: calc((100% / 12) *9);
}

.col_4 {
    width: calc((100% / 12) *4 - 10px);

}

.col_4_sponsor {
    width: calc((100% / 12) *4);

}

.row_plan {
    column-gap: 15px;
}

.row_full {
    margin-top: 15px;

}


/* Footer */

.contenitore_footer{
    width: 60%;
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
}

footer{
    background-color: black;
}

.column{
    flex-direction: column;
}

.space{
    justify-content: space-between;
}

.elenco > h3 {
    color: white;
    padding-bottom: 8px;
}

.elenco > ul{
    padding: 0;
}

.link_footer {
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    margin-top: 12px;
}

.separatore{
    width: 10%;
    border-top: 1px solid gainsboro;
    margin-top: 60px;
}

.lingua{
    margin-top: 30px;
}

.icone_lingua{
    color: white;
    font-size: 0.65rem;

}

.lingua_selected{
    padding: 0 3px;
}